.sidebar {
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding: 32px 28px;
    background-color: #222327;
}

.top {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}